dataset.csv
randoop-log.txt
# Compiled class file
*.class

# Log file
build.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
#*.zip
*.tar.gz
*.rar


·
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*


flakeflagger_failing_log/
flakeflagger_input_data/
iDFlakies/
chaosapi-experiments-newproject/
chaosapi-experiments-v9/
chaosapi-experiments-v10/
flakeflagger_original_test_report/
chaosapi-experiments/
failures_for_analyze/
logs/
temp-project-logs/
idflakies-flakeflagger/